body {
}

.bge {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}


.bg {
	background-image: url("img-bg.jpg");
	background-repeat: no-repeat;
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	margin-top:80px;
}

header {
  	display:block;
  	position:fixed;
  	top:0;
  	left:0;
  	width:100%;
  	background:white;
  	text-align:center;
  	padding: 20px 0;
  }

footer {
  	display:block;
  	position:fixed;
 	width:100%;
  	bottom:0vh;
  	left:0;
  	background:white;
  	text-align:center;
  	padding: 20px 0;
  }

.lista li {
  	display: inline;
  	list-style-type: none;
  	margin: 0 2% 0 2%;
  }

#item {
	color: white;
}

.left {
	margin-top:150px;
	margin-left: 25%;
  float: left;
  padding: 1em;

}

.right {
	margin-right: 25%;
	float: right;
	padding: 1em;
	margin-top: 9.5%;
}

.op {
	display: inline;
}


form {
  text-align: right;
  float: right;
	margin-top: 8%;
  margin-right: 40%;
}

